{% extends "layout.html" %}

{% block title %}
Elevation Profile
{% endblock %}

{% block content %}
<!-- {{te}} -->
<h3>Elevation Profile</h3>
<!-- Login Form -->
<!DOCTYPE html>
<html>

<head>
  <title>Showing Elevation Along a Path</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNVPwQDvu4e2wqLlcv8CULZhCpfoNZymc&callback=initMap&libraries=&v=weekly" defer></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>
  <div class="d-flex justify-content-around">
    <input type="text" class="site_a my-1 w-25 mx-1" id="lat_a" name="lat_a" value="" placeholder="A_緯度" required>
    <input type="text" class="site_a my-1 w-25 mx-1" id="lng_a" name="lng_a" value="" placeholder="A_經度" required>
    <input type="text" class="site_a my-1 w-25 mx-1" id="height_a" name="height_a" value="" placeholder="A_增高">
  </div>
  <div class="d-flex justify-content-around">
    <input type="text" class="site_b my-1 w-25 mx-1" id="lat_b" name="lat_b" value="" placeholder="B_緯度" required>
    <input type="text" class="site_b my-1 w-25 mx-1" id="lng_b" name="lng_b" value="" placeholder="B_經度" required>
    <input type="text" class="site_a my-1 w-25 mx-1" id="height_b" name="height_b" value="" placeholder="B_增高">
  </div>
  <div class="d-flex justify-content-around">
    <button class="btn btn-info my-1" type="button" id="btn_generate">開始繪圖</button>
  </div>

  <div id="map" style="height:250px;"></div>
  <div id="elevation_chart"></div>
</body>

</html>
{% endblock %}
